<Type Name="SpringBootAdminComponent" FullName="Azure.Provisioning.AppContainers.SpringBootAdminComponent">
  <TypeSignature Language="C#" Value="public class SpringBootAdminComponent : Azure.Provisioning.AppContainers.JavaComponentProperties" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit SpringBootAdminComponent extends Azure.Provisioning.AppContainers.JavaComponentProperties" />
  <TypeSignature Language="DocId" Value="T:Azure.Provisioning.AppContainers.SpringBootAdminComponent" />
  <TypeSignature Language="VB.NET" Value="Public Class SpringBootAdminComponent&#xA;Inherits JavaComponentProperties" />
  <TypeSignature Language="F#" Value="type SpringBootAdminComponent = class&#xA;    inherit JavaComponentProperties" />
  <AssemblyInfo>
    <AssemblyName>Azure.Provisioning.AppContainers</AssemblyName>
    <AssemblyVersion>1.1.0.0</AssemblyVersion>
    <AssemblyVersion>1.2.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Azure.Provisioning.AppContainers.JavaComponentProperties</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            Spring Boot Admin properties.
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public SpringBootAdminComponent ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.Provisioning.AppContainers.SpringBootAdminComponent.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Provisioning.AppContainers</AssemblyName>
        <AssemblyVersion>1.1.0.0</AssemblyVersion>
        <AssemblyVersion>1.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>
            Creates a new SpringBootAdminComponent.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DefineProvisionableProperties">
      <MemberSignature Language="C#" Value="protected override void DefineProvisionableProperties ();" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig virtual instance void DefineProvisionableProperties() cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.Provisioning.AppContainers.SpringBootAdminComponent.DefineProvisionableProperties" />
      <MemberSignature Language="VB.NET" Value="Protected Overrides Sub DefineProvisionableProperties ()" />
      <MemberSignature Language="F#" Value="override this.DefineProvisionableProperties : unit -&gt; unit" Usage="springBootAdminComponent.DefineProvisionableProperties " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Provisioning.AppContainers</AssemblyName>
        <AssemblyVersion>1.1.0.0</AssemblyVersion>
        <AssemblyVersion>1.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>
            Define all the provisionable properties of SpringBootAdminComponent.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="IngressFqdn">
      <MemberSignature Language="C#" Value="public Azure.Provisioning.BicepValue&lt;string&gt; IngressFqdn { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Azure.Provisioning.BicepValue`1&lt;string&gt; IngressFqdn" />
      <MemberSignature Language="DocId" Value="P:Azure.Provisioning.AppContainers.SpringBootAdminComponent.IngressFqdn" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property IngressFqdn As BicepValue(Of String)" />
      <MemberSignature Language="F#" Value="member this.IngressFqdn : Azure.Provisioning.BicepValue&lt;string&gt;" Usage="Azure.Provisioning.AppContainers.SpringBootAdminComponent.IngressFqdn" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.Provisioning.AppContainers</AssemblyName>
        <AssemblyVersion>1.1.0.0</AssemblyVersion>
        <AssemblyVersion>1.2.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Azure.Provisioning.BicepValue&lt;System.String&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Hostname of the Java Component endpoint.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
